<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <section class="container">
        <nav class="navbar">
            <ul class="navlist">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/quem">Quem somos</a>
                </li>
                <li>
                    <a href="/produtos">Produtos</a>
                </li>
                <li>
                    <a href="/">Serviços</a>
                </li>
                <li>
                    <a href="/">Contato</a>
                </li>
            </ul>    
         </nav>
        <article class="content">
            <h1>Produtos</h1>
            <br>
            <p>
                O café é uma bebida produzida a partir dos grãos torrados do fruto do cafeeiro. É servido tradicionalmente quente, mas também pode ser consumido gelado. O café é um estimulante, por possuir cafeína — geralmente 80 a 140 mg para cada 207 ml dependendo do método de preparação.
            </p>
            <br>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum eos cum tempore ex incidunt modi rem assumenda accusamus voluptas, numquam laudantium ducimus debitis autem, veritatis ea labore. Enim, voluptate aspernatur?
            </p>
            <br>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/6QPvMJ2D2WY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </article>
        
    </section>

    <%- include('partials/footer.ejs') %>
    <script src="/js/main.js"></script>
</body>
</html>