

<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <%- include('partials/header.ejs') %>

    <section class="container">
        <nav class="navbar">
            <ul class="navlist">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="quemSomos.ejs">Quem somos</a>
                </li>
                <li>
                    <a href="produtos.ejs">Produtos</a>
                </li>
                <li>
                    <a href="">Serviços</a>
                </li>
                <li>
                    <a href="">Contato</a>
                </li>
            </ul>    
         </nav>
    
        <article class="content">
            <h1>Quem somos</h1>
            <p>Somos uma indústria artesanal de torrefação de cafés mais que especiais.
                Acima de tudo, estamos desde 2007 atuando apaixonadamente por um café bom de verdade.
                Nosso foco está na cafeicultura de valor. Fornecemos café 100% arábica de nossa própria produção e de fazendas parceiras.
                Nosso objetivo é servir cafés deliciosos de alto padrão. </p>
            <br>
            <img src="images/coffee.jpg" alt="quem somos" class="foto-quem">
            <br><br>
            <p>
                Nossos fornecedores de grãos de cafés finos são selecionados pela tradição na cafeicultura de alta qualidade e amor à natureza. E nós os conhecemos há muitos anos afinal de contas estamos na agricultura familiar desde a década de 60, e já na segunda geração da família. No passado já plantamos e vendemos direto para lojistas bonsais, orquídeas bem antes de retomarmos nossa primeira origem que é a cafeicultura.<br>
    
                Para garantir a qualidade nosso serviço é completo: cafés, máquinas, utensílios, consultorias e treinamentos.
                <br> 
                 Deguste nossos cafés e se apaixone conosco!!
            </p>
        </article>
    </section>

    <%- include('partials/footer.ejs') %>
    <script src="/js/main.js"></script>
</body>
</html>