*{
    margin: 0;
    padding: 0; 
}
body{
   
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-image: url(https://thumbs.dreamstime.com/z/copos-de-caf%C3%A9-e-teste-padr%C3%A3o-sem-emenda-do-fundo-dos-nomes-55814376.jpg);
}
.header{
     text-align: center;
     padding-bottom: 10px;
}
.cafe{
     width: 100%;   
     box-shadow: 0 0 100px 0;
}
/*.link-list{
    list-style: none;
    display: flex;
    justify-content: center;
    .nome-link{
        width: 80px;
        padding: 0 50px;
    }
}*/
.container{
    display: flex;
    margin-top: 20px;  
}
.navbar{
    width: 30%;
    padding:30px;
    background-color: #520c0c00;   
}
.navlist{
    list-style: none;      
}
.navlist a { 
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(74, 42, 27);
    font-size: 30px;
    padding: 10px;
    margin: 10px;
    display: block;
    border-radius: 20px 0px;
    text-align: center;
}
.content{
    text-align: center;   
    text-align: justify;
    width: 70%;
    padding: 30px;
    background-color: #ffe6d0;
    border-radius: 10px 0; 
}
.footer{
    margin-top: 300px;
    background-color: #d8d8d8;
    text-align: center;
    padding: 20px;
    color: rgb(8,2,111);
}
.quemsomos{
    width: 300px;
}
.foto-quem{
width: 400px;
border-radius: 20px;
}